<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="voltarPara"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Professor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #professorForm="ngForm" (ngSubmit)="cadastrarProfessor()">
    <ion-item>
      <ion-input
        label="Nome completo"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="professor.nome"
        name="nome"
        #nome="ngModel"
        required
        placeholder="Nome completo">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="nome.invalid && (nome.touched || professorForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="E-mail"
        labelPlacement="stacked"
        type="email"
        [(ngModel)]="professor.email"
        name="email"
        #email="ngModel"
        autocomplete="off"
        required
        placeholder="professor@academia.com">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="email.invalid && (email.touched || professorForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="Senha"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="professor.senha"
        name="senha"
        #senha="ngModel"
        autocomplete="new-password"
        required
        minlength="6"
        placeholder="Senha inicial">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="senha.invalid && (senha.touched || professorForm.submitted)">
      Campo obrigatório (mínimo 6 caracteres)
    </ion-note>

    <ion-item>
      <ion-input
        label="CREF"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="professor.cref"
        name="cref"
        placeholder="Ex: 123456-G/RS">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Especialidade"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="professor.especialidade"
        name="especialidade"
        placeholder="Ex: Musculação, Funcional">
      </ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="!podeSalvar()">
      SALVAR PROFESSOR
    </ion-button>
  </form>
</ion-content>