<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="voltarPara"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Aluno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #alunoForm="ngForm" (ngSubmit)="cadastrarAluno()">
    <ion-item>
      <ion-input
        label="Nome completo"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="aluno.nome"
        name="nome"
        #nome="ngModel"
        required
        placeholder="Nome completo">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="nome.invalid && (nome.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="Idade"
        labelPlacement="stacked"
        type="number"
        [(ngModel)]="aluno.idade"
        name="idade"
        #idade="ngModel"
        required
        placeholder="Ex: 28">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="idade.invalid && (idade.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="Peso (kg)"
        labelPlacement="stacked"
        type="number"
        [(ngModel)]="aluno.peso"
        name="peso"
        #peso="ngModel"
        required
        placeholder="Ex: 75.5">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="peso.invalid && (peso.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="Altura (m)"
        labelPlacement="stacked"
        type="number"
        [(ngModel)]="aluno.altura"
        name="altura"
        #altura="ngModel"
        required
        placeholder="Ex: 1.75">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="altura.invalid && (altura.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="CPF"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="aluno.cpf"
        name="cpf"
        #cpf="ngModel"
        required
        placeholder="000.000.000-00">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="cpf.invalid && (cpf.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="Telefone"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="aluno.telefone"
        name="telefone"
        #telefone="ngModel"
        required
        placeholder="(00) 00000-0000">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="telefone.invalid && (telefone.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="E-mail"
        labelPlacement="stacked"
        type="email"
        [(ngModel)]="aluno.email"
        name="email"
        #email="ngModel"
        autocomplete="off"
        required
        placeholder="aluno@email.com">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="email.invalid && (email.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="Senha"
        labelPlacement="stacked"
        type="password"
        [(ngModel)]="aluno.senha"
        name="senha"
        #senha="ngModel"
        autocomplete="new-password"
        required
        placeholder="Senha inicial do aluno">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="senha.invalid && (senha.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-item>
      <ion-input
        label="Finalidade"
        labelPlacement="stacked"
        type="text"
        [(ngModel)]="aluno.finalidade"
        name="finalidade"
        #finalidade="ngModel"
        required
        placeholder="Ex: Hipertrofia, Emagrecimento">
      </ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="finalidade.invalid && (finalidade.touched || alunoForm.submitted)">
      Campo obrigatório
    </ion-note>

    <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="!alunoForm.valid">
      SALVAR ALUNO
    </ion-button>
  </form>
</ion-content>