<ion-header>
  <ion-toolbar color="primary">
    <ion-title><img src="assets/logo-extremus-icone.png" class="marca-titulo" alt="">Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <div class="ion-text-center ion-margin-bottom">
      <h1 class="ion-color-primary">Extremus Academia</h1>
      <p>Faça login para acessar o sistema</p>
    </div>

    <form (ngSubmit)="fazerLogin()" autocomplete="off">
      <ion-item>
        <ion-input 
          label="E-mail" 
          labelPlacement="stacked" 
          type="email" 
          [(ngModel)]="credentials.email" 
          name="email" 
          autocomplete="off"
          required 
          placeholder="seu@email.com">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input 
          label="Senha" 
          labelPlacement="stacked" 
          type="password" 
          [(ngModel)]="credentials.senha" 
          name="senha" 
          autocomplete="off"
          required 
          placeholder="Sua senha">
        </ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="ion-margin-top" [disabled]="carregando">
        {{ carregando ? 'Entrando...' : 'ENTRAR' }}
      </ion-button>
    </form>
  </div>
</ion-content>